* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 400 21px Quicksand, sans-serif;
}

body {
  background: #4C4C4B;
}

#calculator {
  width: 280px;
  height: auto;
  margin: 3em;
  box-shadow: 0 0 0 1px #9b9b9b;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -140px;
  margin-top: -200px;
}

.top span.clear {
  float: left;
}

.top .screen {
  height: 130px;
  width: 100%;
  float: right;
  padding: 0 10px;
  background: #e3e7ea;
  font-size: 52px;
  line-height: 155px;
  color: #656464;
  font-weight: 100;
  text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.8);
  text-align: right;
  letter-spacing: 1px;
}

.keys,
.top {
  overflow: hidden;
}

.keys span,
.top span.clear {
  float: left;
  position: relative;
  top: 0;
  cursor: pointer;
  width: 70px;
  height: 60px;
  background: #fafbfd;
  box-shadow: 0 0 0 1px #e3e7ea;
  color: #999a9d;
  line-height: 60px;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.2s ease;
}

span.operator {
  margin-right: 0;
}

.keys span.operator {
  background: #f79331;
  color: white;
  margin-right: 0;
}

.keys span.operatora {
  background: #f7f8fa;
  color: #999a9d;
}

.keys span.eval {
  background: #f1ff92;
  box-shadow: 0px 4px #9da853;
  color: #888e5f;
}

.top span.clear {
  background: #ff9fa8;
  box-shadow: 0px 4px #ff7c87;
  color: white;
}

.keys span:active {
  background: #c3c3c3;
}

.keys span.operator:active {
  background: #c3701e;
}

.keys span.zero {
  width: 140px;
}

.operator.equal {
  height: 120px;
  margin-top: -60px;
  line-height: 6.5;
}

.center {
  text-align: center;
  color: #ffffff;
  margin-top: 50px;
}
